@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Prompt:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';
@theme {
  --font-linux: outfit, sans-serif;
  --font-fit: Prompt, sans-serif;
  --color-background: var(--background);
  --color-background-overlay: var(--background-overlay);
  --color-background-disabled: var(--background-disabled);
  --color-border-default: var(--border);
  --color-text-header: var(--text-header);
  --color-text-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-dark: var(--accent-dark);
  --animate-spin: spin 1s linear 1;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  :root {
    --background: #232136;
    --background-overlay: #1f1d2e;
    --border: #374151;
    --text-header: #e0def4;
    --text-secondary: #a19eb3;
    --background-disabled: #2a2b3c;
    --accent: #6366f1;
    --accent-light: #818cf8;
    --accent-dark: #4f46e5;
    --background-rgb: 35, 33, 54;
    --background-overlay-rgb: 31, 29, 46;
    --accent-rgb: 99, 102, 241;
    --background-disabled-rgb: 42, 43, 60;
  }

  html {
    font-family: var(--font-sans);
    background-color: var(--background);
    color: var(--text-secondary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-accent);
    color: var(--text-header);
  }

  body {
    @apply bg-background;
  }
}

@layer components {
  .lucide {
    stroke-width: 2.2;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
    shape-rendering: geometricPrecision;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    width: 1.2em;
    height: 1.2em;
  }

  .toggle {
    width: 40px;
    height: 22px;
    background: var(--background-overlay);
    border-radius: 11px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  .toggle::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: var(--text-secondary);
    border-radius: 50%;
    transition: 0.15s;
  }

  .toggle.active {
    background: var(--accent);
    border-color: var(--accent);
  }

  .toggle.active::after {
    left: 20px;
    background: #fff;
  }

  .toast {
    animation: toast 0.2s ease;
  }

  #clock,
  #hours,
  #minutes,
  #seconds {
    font-family: var(--font-linux), sans-serif !important;
  }
}
